<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" (keyup)="search(searchBox.value)"
               class="form-control"
               placeholder="Search User" #searchBox>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-12">
    <div class="card">

      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Hospitals
            (<span *ngIf="searchBox.value.length === 0">{{from}}-{{from + 5}}/</span>{{totalCount}})</h4>
            <h6 class="card-subtitle">Registered Hospitals</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <button class="btn btn-themecolor" (click)="createHospital()"><i class="fa fa-hospital-o"></i>
                Add Hospital</button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered vm table-hover">
            <thead>
            <tr>
              <th class="w100">Picture</th>
              <th>Name</th>
              <th class="text-nowrap w65 text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hospital of hospitals">
              <td class="text-center cursor">
                <img class="img-fluid img-thumbnail mx-auto avatar"
                     (click)="updateImage(hospital)"
                     [src]="hospital.img | image:'hospitals'" [alt]=hospital.name>
              </td>
              <td>
                <span *ngIf="!hospital.edit">{{hospital.name}}</span>
                <input *ngIf="hospital.edit" type="text" [(ngModel)]="hospital.name"
                       class="form-control" >
              </td>

              <td class="text-nowrap w65 text-center v-middle cursor">
                <a *ngIf="!hospital.edit" (click)="hospital.edit = true;"
                   data-toggle="tooltip" data-original-title="Edit">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a *ngIf="hospital.edit" (click)="updateHospital(hospital); hospital.edit = false"
                   data-toggle="tooltip" data-original-title="Save">
                  <i class="fa fa-check text-success m-r-10"></i>
                </a>
                <a (click)="hospital.edit ? hospital.edit = false : deleteHospital(hospital)"
                   data-toggle="tooltip" data-original-title="{{hospital.edit ? 'Cancel' : 'Close'}}">
                  <i class="fa fa-close text-danger"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="searchBox.value.length === 0">
          <button (click)="nextPage(-5)" class="btn btn-secondary" [disabled]="from <= 0">Previous</button>&nbsp;
          <button (click)="nextPage(5)" class="btn btn-secondary" [disabled]="from + 5 >= totalCount">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
