<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
       <app-graph [chartData]="graphs.graph1.data"
                  [chartLabels]="graphs.graph1.labels"
                  [chartType]="graphs.graph1.type"
                  [title]="graphs.graph1.title"></app-graph>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-graph [chartData]="graphs.graph2.data"
                   [chartLabels]="graphs.graph2.labels"
                   [chartType]="graphs.graph2.type"
                   [chartTitle]="graphs.graph2.title"></app-graph>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-graph [chartData]="graphs.graph3.data"
                   [chartLabels]="graphs.graph3.labels"
                   [chartType]="graphs.graph3.type"
                   [chartTitle]="graphs.graph3.title"></app-graph>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-graph [chartData]="graphs.graph4.data"
                   [chartLabels]="graphs.graph4.labels"
                   [chartType]="graphs.graph4.type"
                   [chartTitle]="graphs.graph4.title"></app-graph>
      </div>
    </div>
  </div>
</div>
